<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Puma</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
    <div class="sidebar">
        <a asp-controller="Home" asp-action="Index">
            <img src="~/Resources/puma.png" class="card-img-top" alt="Logo de Puma">
            <h5>Puma</h5>
        </a>

        <small id="datetime"></small>

        <a asp-controller="EquipoPuma" asp-action="Index">
            <i class="fa fa-users"></i> Equipo Puma Pardo
        </a>
        <a asp-controller="Facturas" asp-action="Index">
            <i class="fa fa-file-invoice"></i> Facturas
        </a>
        <a asp-controller="CierreDeCaja" asp-action="Index">
            <i class="fa fa-cash-register"></i> Ver Cierres de Caja
        </a>
        <a asp-controller="UnidadesDeBus" asp-action="Index">
            <i class="fa fa-bus"></i> Unidades
        </a>
        <a asp-controller="ManualDeUsuario" asp-action="Index">
            <i class="fa-solid fa-book"></i> Manual De Usuario
        </a>
        <a asp-controller="Inventario" asp-action="Index">
            <i class="fa-solid fa-boxes-stacked"></i> Inventario
        </a>

    </div>

    <div class="content">
        @RenderBody()
    </div>
</body>
</html>
